[Desktop Entry]
Name=Planets
Comment=Interplanetary Slide Puzzle
Exec=planets-puzzle
Icon=${SNAP}/meta/gui/planets.png
Terminal=false
Type=Application
Categories=Game;
